@model List<AppMenusListDto>

<ul>
    @foreach (var item in Model)
    {
        <li> <a> @item.MenuName</a></li>
        @if (item.ChildMenus != null && item.ChildMenus.Count != 0)
        {
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <partial name="Partials/Navbar/LayoutNavbarPartial" model="@item.ChildMenus" />
            </div>
        }

    }
</ul>
